#login_button{
    border-radius: 100px;
    background-color: azure;
    width: 100px;
    height: 50px;;
}
#log_out{
    border-radius: 100px;
    background-color: azure;
    width: 100px;
    height: 50px;
}